<div class="footer" id="footer">
    <div class="contactCard">
        <div class="imageSection">
            <img class="image" src="../../../assets/cats.jpg">
        </div>
        <div class="contactSection">
            <span class="subtitle">Connect</span><br/>
            <span class="title">Contact US</span><br/>
            <span class="subheading">You will get a response within 24 hours. We will contact you with the necessary information</span><br/>
            <div class="form">
                <span class="placeholder">Name*</span><br/>
                <input id="name" type="text" class="inputbar" [(ngModel)]="name" required><br/>

                <span class="placeholder">Phone Number*</span><br/>
                <input id="number" type="text" class="inputbar" [(ngModel)]="phonenumber" required><br/>

                <span class="placeholder">Query*</span><br/>
                <textarea id="query" class="inputbar query" [(ngModel)]="query" required></textarea><br/>

                <button [disabled]="name === '' || phonenumber === '' || query === ''" 
                class="send" (click)="enquire()">Send Enquiry</button>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="logos">
            <img class="logo" src="../../../assets/Pawthon_.png">
            <img class="logo enlarge" src="../../../assets/Wakad Animal Rescue.png">
            <img class="logo enlarge" src="../../../assets/Pranimal Foundation Final Logo Transperant.png">
            <img class="logo" src="../../../assets/Pune Dog Adoption_black.png">
        </div>

    </div>
</div>