<div class="header">
    <div class="logos">
        <img class="logo" src="../../../assets/Pawthon_.png">
        <img class="logo" src="../../../assets/Wakad Animal Rescue.png">
        <img class="logo" src="../../../assets/Pranimal Foundation Final Logo Transperant.png">
        <img class="logo" src="../../../assets/Pune Dog Adoption.png">
        <img class="logo" src="../../../assets/speechless logo 1.png">
        <img class="logo round" src="../../../assets/WhatsApp Image 2022-09-06 at 3.02.57 AM.jpeg">
        <img class="logo" src="../../../assets/petgallery2.png">
        <img class="logo" src="../../../assets/happydogs flex 7ftx7ft.jpg">
    </div>

    <div class="pages">
        <span class="text" (click)="navigate('home')">Home <br /><button *ngIf="isHome"
                class="indicator"></button></span>
        <span class="text" (click)="navigate('dogs')">Dogs <br /><button *ngIf="isDogs"
                class="indicator"></button></span>
        <span class="text" (click)="navigate('cats')">Cats <br /><button *ngIf="isCats"
                class="indicator"></button></span>

        <button class="button" (click)="scrollToContact()"><span class="text">Contact Us</span></button>
    </div>
</div>